/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .benefit {
    width: 33%;
    margin-bottom: 50px;
  }

  .benefit-icon p {
    top: 240px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper h2 {
    font-size: 25px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .profile {
    width: 33%;
  }

  .profile-4 {
    width: 33%;
    padding-left: 20%;
  }

  .profile-5 {
    width: 33%;
    padding-left: 20%;
  }


/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .benefit {
    width: 100%;
  }

  .benefit-icon p {
    top: 220px;
  }
  
  .header {
    width: 100%;
  }

  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper h2 {
    font-size: 20px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 15px;
  }

  .heading h4 {
    width: 100%;
  }

  .profile {
    width: 100%;
    padding-left: 20%;
    height: 520px;
  }

  .profile-4 {
    width: 100%;
    padding-left: 20%;
    height: 460px;
  }

  .profile-5 {
    width: 100%;
    padding-left: 20%;
    height: 520px;
  }

  .profile-icon h5 {
    margin-bottom: 10px;
  }

  .footer-web p {
    width: 90%;
  }

  .footer-web a.btn.signup {
    width: 100%;
  }
