html, body,
ul, li,
div {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  font-family:  sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/*header konfigurasi*/
.header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 100, 0.6);
  position :fixed;
  z-index: 10;
}

.header-left{
  float: left;
}

.header-right{
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  text-decoration: none;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-logo {
  float: left;
  color: white;
  padding: 0 px;
  opacity: 0.9;
}

.header-logo img {
  width: auto;
  height: 70px;
}

.header-title {
  float: left;
  color: white;
  font-size: 26px;
  padding-top: 15px;
  opacity: 0.9;
  font-family: 'Noto Sans', sans-serif;
}
/*end header*/

/*top wrapper background*/
.top-wrapper {
  top: 0px;
  padding: 180px 0 200px 0;
  background-image: url(https://images.unsplash.com/photo-1587004952913-87ec38d01b9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80);
  background-size: cover;
  color: white;
  text-align: center;
  opacity: 0.8;
}

.top-container {
  /*border: solid 2px white;*/
  text-align: right;
  padding: 0 15px;
  margin: 0 auto;
}

.top-container img {
  opacity: 4.0;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  margin-top: 0px;
  text-shadow: 0.1px 0.1px #20269e;
 /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Lexend Giga', sans-serif;
}

.top-wrapper h2 {
  /*opacity: 0.7;*/
  font-size: 28px;
  text-shadow: 0.1px 0.1px #20269e;
  font-family: 'Poppins', sans-serif;
  /*text-shadow: 1px 1px #cea44d;*/
}

.top-wrapper p {
  /*opacity: 0.8px;*/
  margin-bottom: 3px;
  text-shadow: 2px;
  text-shadow: 0.5px 0.5px black;
  font-family: 'Lexend Giga', sans-serif;
}
/*end wrapper*/

/*content*/
.content {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #5f5d60;
}

.benefits {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.benefit {
  /*border: solid 1px red;*/
  float: left;
  flex: auto;
  width: 33%;
  height: auto;
  padding: 15px;
}

.benefit-icon img {
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}

.benefit-icon {
  position: relative;
}

.benefit-icon p {
  position: absolute;
  top: 200px;
  width: 100%;
  color: black;
  padding: 10px;
  opacity: 0.7;
}

.benefit-icon h3 {
  text-align: center;
  opacity: 0.8;
  position: absolute;
  top: 165px;
  width: 100%;
  color: black;
}
/*end content*/

/*our team*/
.team {
  background-color: #f7f7f7;
  text-align: center;
}

.heading h4 {
  color: #5f5d60;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.profile {
  float: left;
  height: 550px;
  width: 20%;
  position: relative;
}

.profile-4 {
  float: left;
  height: 550px;
  width: 20%;
  position: relative;
}

.profile-5 {
  float: left;
  height: 550px;
  width: 20%;
  position: relative;
}

.profile-icon img {
  height: 220px;
  width: 170px;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
}

.profile-icon {
  position: relative;
  border: 5px solid gold;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  height: 200px;
  width: 170px;
}

.profile-icon p {
  font-family: 'Poppins', sans-serif;
  width: 180px;
  color: black;
  opacity: 0.7;
}

.profile-icon h5 {
  font-family: sans-serif;
  text-align: center;
  opacity: 0.8;
  width: 180px;
  color: black;
  font-size: 18px;
}
/*end our team*/

/*footer*/
.footer-web p {
  font-size: 20px;
  float: left;
  margin: 20px;
  text-shadow: 0.5px 0.5px black;
}

.footer-web a.btn.signup {
  padding: 12px 24px;
  color: white;
  background-color: #239b76;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  float: right;
}

.footer-web a.btn.signup:hover {
  opacity: 1;
}

.footer-web a.btn.signup:active {
  opacity: 0.8;
}
/*end footer*/

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 25px;
  display: none;
}
